---
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBraces: Stroustrup
ColumnLimit: '100'
IndentWidth: '8'
Language: Cpp
PointerAlignment: Left
SortIncludes: 'true'
TabWidth: '8'

...
