---
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: 'true'
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Stroustrup
ColumnLimit: '100'
IndentWidth: '8'
Language: Cpp
PointerAlignment: Left
SortIncludes: 'true'
TabWidth: '8'

...
