.cache/
/docs/html
/docs/xml
/docs/build
/build
/build_*
/build_*.json
/data_*
/alloc*
/*tasksets*
/vgcore.*
/trace/stream
/rtsched.sty
/platform.json
/scenario.json
/logs.json
/index.html
/test.log
/test.pdf
/test.tex
/test.aux
/mydessin.tex
/result
/Archive*
/iframe_figures

/*.png
/*.tex
/*.pdf
/*.eps
/*.aux
/*.log
/*.dat
/*.svg
/*.csv
.ipynb_checkpoints*
*.pyc
.DS_Store
.direnv
