.cache/
/doc/html
/build
/build_*
/build_*.json
/data_*
/vgcore.*
/trace/stream
/rtsched.sty
/platform.json
/scenario.json
/logs.json
/index.html
/test.log
/test.pdf
/test.tex
/test.aux
/mydessin.tex
/result
/Archive*

/*.png
/*.tex
/*.pdf
/*.eps
/*.aux
/*.log
/*.dat
/*.svg
/*.csv
.ipynb_checkpoints*
*.pyc
.DS_Store
