name: CI

on:
  push:
    branches: ["cluster-types"]
  pull_request:
    branches: ["cluster-types"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Build project via Nix flake
        run: nix build
      - name: Run tests via Nix flake
        run: nix flake check

  compare-output:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Build project via Nix flake
        run: nix build
      - name: Run command and generate output file
        run: |
          ./result/bin/schedsim -p platforms/exynos5422.json -s tests/scenarios/ci-input.json --sched grub --delay
      - name: Run cat
        run: |
          cat logs.json
      - name: Compare generated output with expected file
        run: |
          nix develop --command jq 'walk(if type == "number" then (.*1000000000 | floor) / 1000000000 else . end)' logs.json > norm1.json
          nix develop --command jq 'walk(if type == "number" then (.*1000000000 | floor) / 1000000000 else . end)' tests/scenarios/ci-output.json > norm2.json
          nix develop --command jd norm1.json norm2.json
